<md-card>
    <md-card-title>
        <md-card-title-text>
            <b>Link to the github site: </b>
            <a href="{{linkGit}}"  target="_blank"> 
                <p class="truncate">{{linkGit}}</p>
            </a>
            <b>Repository name: </b>
            <p class="truncate">{{repoName}}</p>
            <b>Description: </b>
            <p class="truncate">{{description}}</p>
            <b>Amount of forks: </b>
            <p class="truncate">{{amountOfIssues}}</p>
        </md-card-title-text>
    </md-card-title>
</md-card>