<md-card>
    <md-card-title>
        <md-card-title-text>
            <h2>Link to the github site: </h2>
            <a href="{{linkGit}}"  target="_blank"> 
                <p class="truncate">{{linkGit}}</p>
            </a>
            <h2>Repository name: </h2>
            <p class="truncate">{{repoName}}</p>
            <h2>Description: </h2>
            <p class="truncate">{{description}}</p>
            <h2>Amount of: </h2>
            <p class="truncate">{{amountOfIssues}}</p>
        </md-card-title-text>
    </md-card-title>
</md-card>