<md-card>
    <md-card-title>
        <md-card-title-text>
            <md-card-avatar layout="row" layout-align="center center" layout-margin>
                <img width="100" height="100" flex-cen class="md-user-avatar" src="{{userImage}}">
            </md-card-avatar>
            <span><b>User name: </b><br>{{name}}</span>
            <span><b>User's github page: </b><br>
                <a href="{{linkUser}}"  target="_blank"> <p class="truncate">{{linkUser}}</p></a>
            </span>
            <span><b>Repositories: </b><br>
                <a class="truncate" ui-sref="repo-list">Go to repositories</a>
            </span>
        </md-card-title-text>
        
    </md-card-title>
</md-card>